pip~=24.3.1
idna~=3.11
multidict~=6.7.0
propcache~=0.4.1
attrs~=25.4.0
aiogram~=3.22.0
pydantic~=2.11.10
aiofiles~=24.1.0
magic-filter~=1.0.12
certifi~=2025.11.12
aiohttp~=3.12.15
yarl~=1.22.0
async-timeout~=5.0.1
aiosignal~=1.4.0
frozenlist~=1.8.0
aiohappyeyeballs~=2.6.1
annotated-types~=0.7.0
aiosqlite~=0.22.0
setuptools~=44.1.1
python-dotenv~=1.2.1